entrypoint = "README.md"
modules = ["nodejs-22"]

[nix]
channel = "stable-24_05"
packages = ["unzip", "zip"]

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 38485
externalPort = 3002

[[ports]]
localPort = 39399
externalPort = 3001

[[ports]]
localPort = 43425
externalPort = 3003

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[agent]
stack = "EXPO"
integrations = ["google-drive:1.0.0"]

[deployment]
deploymentTarget = "static"
publicDir = "static-build"
build = ["node", "scripts/build.js"]

# Expo manifest headers
[[deployment.responseHeaders]]
path = "/*"
name = "expo-protocol-version"
value = "1"

[[deployment.responseHeaders]]
path = "/*"
name = "expo-sfv-version"
value = "0"

[userenv]

[userenv.shared]
GOOGLE_DRIVE_VIDEO_FOLDER_ID = "170vT1uVygivXxA4FL5zGF2B5qKUP-EhG"
